NODE_SESSION_SECRET=YOUR_ENCRYPTION

MONGO_HOST=YOUR_MONGODB_HOST_NAME
MONGO_USERNAME=YOUR_MONGODB_USERNAME
MONGO_PASSWORD=YOUR_MONGODB_PASSWORD
MONGO_APP_NAME=YOUR_MONGODB_APP_NAME
MONGO_DATABASE=YOUR_MONGODB_APP_DATABASE
MONGODB_USER_DATABASE=YOUR_MONGODB_DB_NAME
MONGODB_SESSION_SECRET=YOUR_MONGODB_ENCRYPTION
